
 <div class="navbar-area navbar-style-two">
    <div class="luvion-responsive-nav">
        <div class="container">
            <div class="luvion-responsive-menu">
                <div class="logo">
                    <a href="#">
                        <img src="assets/img/logo.png" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="luvion-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="#">
                    <img src="assets/img/logo.png" alt="logo">
                </a>

        
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent" style="color:#00a5e2 !important;">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link active"style="color:#00a5e2 !important;">{{ 'portal.home' | translate }}</a></li>

                        <li class="nav-item"><a  routerLink="/aboutus" class="nav-link"style="color:#00a5e2 !important;">{{ 'portal.aboutus' | translate }}</a></li>

                        <li class="nav-item"><a routerLink="/gatewayservices" class="nav-link"style="color:#00a5e2 !important;">{{ 'portal.gateway' | translate }}</a></li>

                        <li class="nav-item"><a routerLink="/processing" class="nav-link"style="color:#00a5e2 !important;">{{ 'portal.processing' | translate }}</a> </li>

                        <li class="nav-item"><a routerLink="/contactus"  class="nav-link"style="color:#00a5e2 !important;">{{ 'portal.contact' | translate }}</a></li>
						  <li class="nav-item"><a href="#" class="nav-link active" style="color:#00a5e2 !important;">{{ 'portal.language' | translate }} <i class="fas fa-chevron-down"></i></a>
                                    <ul class="dropdown-menu">
									
                                        <li class="nav-item"><a [routerLink]="" (click)="useLanguage('en')" class="nav-link" style="color:#00a5e2 !important;">English</a></li>

                                        <li class="nav-item"><a [routerLink]="" (click)="useLanguage('de')" class="nav-link"style="color:#00a5e2 !important;">Spanish</a></li>

                                    </ul>
                                </li>
			
						
                    </ul>

                    <div class="others-options">
                        <a href="https://appopay.com/admin/#/login" class="login-btn"style="color:#00a5e2 !important;"><i class="flaticon-user" style="color:#00a5e2 !important;"></i> {{ 'portal.login' | translate }}</a>
						 <a href="https://appopay.com/admin/#/register"  class="login-btn"style="color:#00a5e2 !important;margin-left: 26px;"><i class="flaticon-user" style="color:#00a5e2 !important;"></i> {{ 'portal.signup' | translate }}</a>
                    
					</div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar Area -->
<!-- End Navbar Area -->

   <!-- Start Page Title Area -->
        <div class="page-title-area item-bg2 jarallax" data-jarallax='{"speed": 0.3}'>
            <div class="container">
                <div class="page-title-content">
                    <h2>Privacy Notice</h2>
                    <p>Policy Effective as of October 1, 2019. </p>
                </div>
            </div>
        </div>
        <!-- End Page Title Area -->

        <!-- Start About Area -->
        <section class="about-area ptb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-12">
                        <div class="about-content">
                          
							  <div class="faq-content">
                            <h2>PRIVACY NOTICE OVERVIEW</h2>
                            <div class="bar"></div>
                            <p>Policy Effective as of October 1, 2019.</p>

                        </div>
                            <p>This Privacy Policy applies to the Site, www.appopay.com. Appopay.com is powered by Coop Red Global Ltd. (“APPOPAY”) ‘Site’, by definition for this agreement includes our Service application(s) available via internet/web access, mobile and smart phones, tablets, or any other technology that allows you to access the Service, which exists now or in the future. Please read this carefully as this policy is legally binding when you use our Services. Check the Customer Agreement for the meaning of defined words. This privacy policy describes how Coop Red Global Ltd. collects and uses the personal information you provide on our web site: www.appopay.com. It describes the choices available to you, regarding our use of your personal information, how it can be accessed, reviewed and updated.
</p>



                            <p>
							We are serious and committed to protecting our customers' personal information, privacy and security. We use a secure server to store your personal information. All information you provide to us is stored on our secure servers. All payment transactions will be encrypted using Transport Layer Security technology.
</p>

 <p>
							As you are aware, the transmission of information via the internet is not completely secure. Although we will do our utmost to protect your personal data, we cannot guarantee the security of your data during transmission, and any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorized access.
</p>

 <p>
							We restrict access of your personal information to those employees of Appopay who have a business reason for knowing such information. We continuously educate and train our employees about the importance of confidentiality and privacy of customer information. We maintain physical, electronic and procedural safeguards that comply with relevant laws and regulations to protect your personal information from unauthorized access.
</p>

<p>
							This Privacy Statement explains what personal information we collect about you, with whom we share it, and how you [The user of the Service] can direct us not to share certain information with certain parties. "Personal Information" refers to information such as name and email that can be used to identify an individual. You should read this Privacy Policy in its entirety. Certain sections may apply differently to residents of different jurisdictions.
</p>
<br>
  <div class="faq-content">
                            <h4>By using our services, you agree you are accepting the terms of this Privacy Notice.</h4>
                            
                            
                        </div>
						
						<p>
							We may update this privacy statement, from time to time, to reflect changes to our information practices. If we make any material changes we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on this Site prior to the change becoming effective. We encourage you to, periodically; review this page for the latest information on our privacy practices.
</p>

  <div class="faq-content">
                            <h4>WHY DO WE COLLECT INFORMATION AND DATA?</h4>
                            
                        </div>
						
						<p>
							We collect; process and retain personal information from you and any devices you may use when you use our Services, or you provide it to us on a web form, when you update your information or otherwise correspond with us regarding our Services. Additionally, we may collect personal information from third parties. We collect information for the following purposes:
</p>


    <div class="article-content">
                               

                          <br>    

                                <ul class="about">
                                    <li>		To process your transactions and contact you, as necessary</li>
	   <li>	To verify your identity</li>
	   <li>	To collect payment for your use of the Service</li>
	   <li>	To troubleshoot problems with the Service</li>
	   <li>	To detect and prevent fraud and other illegal uses of the Service</li>
	   <li>	To enhance and simplify the user experience</li>
	   <li>	To send you marketing notices, service updates, and promotional offers</li>
	   <li>	To send transaction alerts to you and/or the recipient of your remittance</li>


                                </ul>


						   </div>
						 <div class="faq-content">
                            <h4>HOW DO WE COLLECT INFORMATION?</h4>
                            
                        </div>
						
						<p>
We collect personal information:
</p>   


    <div class="article-content">
                               

                          <br>    

                                <ul class="about">
             
	            <li>		Directly provided by you when you use our Services;</li>
	         <li>	Automatically through your use of our Services;</li>
	         <li>	From using cookies, web beacons, and similar technologies; and</li>
	         <li>	From other third party sources.</li>


                                </ul>


						   </div>
						   
						<div class="faq-content">
                            <h4>PERSONAL INFORMATION WE MAY COLLECT?</h4>
							<h6>Information You Give Us </h6>
                            
                        </div>
						
						<p>
The information that we collect directly from you includes:
</p>      




    <div class="article-content">
                               

                          <br>    

                                <ul class="about">
                                    <li>Information that you provide us when you sign up to use our Service, such as your name, address, e-mail address, and telephone number. This also includes information you provide through your continued use of our Services, participate in discussion boards or other social media functions on our Website or App, enter a competition, promotion or survey, and when you report a problem with our Services. The information you give us may include certain sensitive information including financial information (including credit card, debit card, or bank account information), date of birth and social security number, and other identification documents. We may request to validate your identity through personal description and photographs for the safety and security of establishing your Account with the Service.</li>
	   <li>	We may also need additional commercial and/or identification information from your e.g. if you send or receive certain high-value or high volume transactions or as needed to comply with our anti-money laundering obligations under applicable law.</li>
	   <li>To facilitate our Service, we request certain third party personal information from you such as your recipient's full name, physical address, email address, and phone number. We may also collect from you the recipient's sensitive financial information including their name, bank account and routing number. If you give us personal information about someone else, you must do so only on their explicit and prior consent. You have to inform them how we collect, use, disclose and retain their personal information according to our Privacy Notice.</li>
	   <li>Information about your usage of the Service, including your transaction history, and how you choose to pay/fund your remittance, and to whom you use the Service to send or receive money, along with the recipient’s collection method.</li>
	   <li>	To detect and prevent fraud and other illegal uses of the Service</li>
	   <li>	To enhance and simplify the user experience</li>
	   <li>	To send you marketing notices, service updates, and promotional offers</li>
	   <li>	To send transaction alerts to you and/or the recipient of your remittance</li>


                                </ul>


						   </div>
						   
						   <p>
You decide how much information to share with us in most cases, but not sharing required information may limit your ability to engage in certain activities, such as payment information required to complete a transaction.
</p>      



<div class="faq-content">
                            <h4>Information Collected Automatically Through Your Use of the Service</h4>
						
                            
                        </div>
						
						<p>
When you use or interact with our Site and Services, we receive and store information generated by your activity, like usage data and other information automatically collected from your browser or mobile device. The Information that we automatically obtain from you includes:
</p>      


    <div class="article-content">
                               

                          <br>    

                                <ul class="about">
             
	            <li>	Details of the transactions you carry out when using our Services, including geographic location from which the transaction originates;</li>
	         <li>		Information about the hardware and software you use when accessing the Service;</li>
	         <li>	Technical information, including the Internet protocol (IP) address used to connect your computer to the Internet, your login information, browser type and version, time zone setting, geolocation data obtained from your mobile device, browser plug-in types and versions, operating system and platform;</li>
	         <li>	Information about your visit, including the full Uniform Resource Locators (URL) clickstream to, through and from our Website or App (including date and time); products you viewed or searched for; page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and mouse-overs), and methods used to browse away from the page and any phone number used to call our Customer Support number.</li>


                                </ul>


						   </div>
						   
<div class="faq-content">
                            <h4>Information We Receive from Other Sources</h4>
						
                            
                        </div>
						
						<p>
We may supplement the information we collect with personal information from third parties. For example, we may collect and use demographic information that is publicly available, additional contact information, and information obtained by identity verification services and credit reporting agencies, as allowed by applicable national laws.
</p>      

<p>
We may also receive information about you if you use any of the other websites we operate or the other services we provide. We are also working closely with third parties and may receive information about you from them.
For example:

</p>      


    <div class="article-content">
                               

                          <br>    

                                <ul class="about">
        <li>The banks you use to transfer money to us will provide us with your basic personal information, such as your name and address, as well as your financial information such as your bank account details;</li>
	   <li>Business partners may provide us with your name and address, as well as financial information, such as card payment information;</li>
	   <li>	Advertising networks, analytics providers and search information providers may provide us with pseudonymised information about you, such as confirming how you found our website;</li>
	   <li>Credit reference agencies do not provide us with any personal information about yourself, but may be used to corroborate the information you have provided to us.</li>



                                </ul>


						   </div>



<div class="faq-content">
                            <h4>Information from Social Media Networks</h4>
						
                            
                        </div>
						
						<p>
Our Web site includes Social Media Features, such as the Facebook, LinkedIn and Twitter buttons and Widgets or interactive mini-programs that run on our site. These Features may:
</p>      



    <div class="article-content">
                               

                          <br>    

                                <ul class="about">
        <li>Collect your IP address, which page you are/were visiting on our site; and</li>
	   <li>Set a cookie to enable the Feature to function properly. Social Media Features and Widgets are either hosted by a third party or hosted directly on our Site.</li>
	   

                                </ul>


						   </div>

<p>

If you log in to our Services using your social media account (for example, Facebook or Google) we will receive relevant information that is necessary to enable our Services and authenticate you. The social media network will provide us with access to certain information that you have provided to them, including your name, profile image and e-mail address. We use such information, together with any other information you directly provide to us when registering or using our Services, to create your account and to communicate with you about the information, products and services that you request from us. You may also be able to, specifically request that we have access to the contacts in your social media account so that you can send a referral link to your family and friends. We will use, disclose and store all of this information in accordance with this privacy policy.
</p>

<p>
Such social media sites may also give us automatically access to certain personal information retained by them about you (e.g. content viewed by you, content liked by you, or may have clicked on). Your interactions with these Features are governed by the privacy policy of the company providing it.
</p>

			 <div class="faq-content">
                            <h4>INFORMATION COLLECTED USING COOKIES, WEB BEACONS, AND SIMILAR TECHNOLOGIES</h4>
                            
                        </div>
						
						<p>
COOKIES, beacons, tags and scripts are used by Appopay and our partners, affiliates, or analytics or service providers. These technologies are used:
</p>   


    <div class="article-content">
                               

                          <br>    

                                <ul class="about">
             
	            <li>	To enhance and simplify the user experience on our home page and throughout our site, to remember users’ settings (e.g. language preference, preferred country of remittance, and for authentication); and</li>
	         <li>		To analyze trends, administering the site, tracking users’ movements around the site and to gather demographic information about our user base as a whole. We may receive reports based on the use of these technologies by these companies on an individual as well as aggregated basis.</li>
	         <li>		Our Services use cookies to distinguish you from other users. This helps us to provide you with a good experience and allows us to improve our Services. For detailed information on the cookies we use and the purposes for which we use them see our Cookie Policy.</li>
	         

                                </ul>


						   </div>
	<p>
Users can control the use of cookies at the individual browser level. If you reject cookies, you may still use our site, but your ability to use some features or areas of our site may be limited.
</p>	
						   
						   
						   
						   
		 <div class="faq-content">
                            <h4>USES MADE OF THE INFORMATION</h4>
                            
                        </div>
						
						<p>
We use your information in the following ways:
</p>   


    <div class="article-content">
                               

                          <br>    

                                <ul class="about">
             
	            <li>(a) To carry out our obligations relating to your contract with us and to provide you with the information, products and services;</li>
	         <li>(b) To comply with any applicable legal and/or regulatory requirements;</li>
	         <li>	(c) To notify you about changes to our Services;</li>
	         <li>(d) As part of our efforts to keep our Services safe and secure;</li>
     <li>(e). To administer our Services and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes;</li>
	      <li>(f) To improve our Services and to ensure that they are presented in the most effective manner;</li>
		       <li>(g) To measure or understand the effectiveness of advertising we serve and to deliver relevant advertising to you;</li>
			        <li>(h) To allow you to participate in interactive features of our Services, when you choose to do so;</li>
					     <li>(i) To provide you with information about other similar goods and services we offer;</li>
						      <li>(j) To provide you, or permit selected third parties to provide you, with information about goods or services we feel may interest you; or</li>
	     <li>(k) To combine information we receive from other sources with the information you give to us and information we collect about you. We may use this information and the combined information for the purposes set out above (depending on the types of information we receive).</li>
                                </ul>


						   </div>				   
					


 <div class="faq-content">
                            <h4>WHEN MAY WE SHARE OR DISCLOSE YOUR PERSONAL INFORMATION?</h4>
                            
                        </div>
						
						<p>
We do not sell, share or rent the information we collect to third parties for their promotional purposes unless we receive your permission to do so. Nevertheless, we may share information about you (including non-public, non-personally identifiable information) with:
</p>   


    <div class="article-content">
                               

                          <br>    

                                <ul class="about">
             
	            <li>Third-party service providers under contract with TRANSFAST that help us with our business operations, such as transaction processing, fraud prevention, collections, email communications, live chat and marketing. These service providers are authorized to use your personal information only as necessary to provide these services to us.</li>
	         <li>	Third-parties that we partner with to offer additional products and services, such as long-distance telephone minutes, but only when you elect to receive information about those additional products and services.</li>
	         <li>In the event of the sale, acquisition or merger of some or all of our assets, your personal information might be a part of the transferred assets. We shall notify you in the event of such an occurrence by placing a notice on our website.</li>
	         
                                </ul>


						   </div>		

<p>
Law enforcement and government officials, but only in connection with a formal request, subpoena, court order, or similar legal procedure, as well as circumstances where we believe in good faith that disclosure is necessary to comply with the law, report suspected illegal activity, or investigate violations of our User Agreement.
</p>
<div class="faq-content">
                            <h4>USES OF PERSONAL INFORMATION (OTHER THAN PROVIDING PAYMENT SERVICES)</h4>
							<h6>Provide, Improve and Personalize our Services</h6>
                            
                        </div>
						
						<p>
As is true of most web sites, we gather certain information automatically and store it in log files. This information may include internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and/or clickstream data. We may combine this automatically collected log information with other information we collect about you. We do this to improve services we offer you, verify security, and to improve marketing, analytics, or site functionality
</p>      


		

<div class="faq-content">
                         <h4></h4>
							<h6>Personalize Our Advertising and Marketing Communications</h6>
                            
                        </div>
						
						<p>
The Site may contain links to other web sites. Coop Red Global Ltd. is not responsible for the privacy practices or the content of these other web sites. We encourage you to familiarize yourself with the privacy practices of these other sites prior to submitting your personal information to them.
</p>      

						<p>
We also may choose to partner with third party ad networks to either display advertising on our Web site or to manage our advertising on other sites. Our ad network partners may use cookies and Web beacons, to collect non-personally identifiable information about your activities on this and other Web sites to provide you targeted advertising based upon your interests. If you wish not to have this information used for serving you targeted ads, you may opt-out by contacting us. Please note this does not opt you out of being served advertising. You will continue to receive generic ads.
</p>      
<p>
We may choose to use Google AdSense to publish ads for and on this site. When you view or click on an ad, a cookie will be set to help better provide advertisements that may be of interest to you on this and other Web sites. You may opt-out of the use of this cookie by visiting Google’s Advertising and Privacy page: HTTP://WWW.GOOGLE.COM/PRIVACY_ADS.HTML.
</p>


<div class="faq-content">
                               <h4></h4>
							<h6>Testimonials and Referrals</h6>
                            
                        </div>
						
						<p>
We display personal testimonials of satisfied customers on our site in addition to other endorsements. With your consent, we may post your testimonial along with your name. If you wish to update or delete your testimonial, you can contact us via details mentioned in the CONTACT US section.
</p>      

						<p>
If you choose to use our referral service to tell a friend about our site, we will ask you for your friend’s name, email address and phone number. We will automatically send your friend a one-time email inviting him or her to visit the site. Appopay stores this information for the sole purpose of sending this one-time email, and for tracking the success of our referral program.
</p>      

		
		
		<div class="faq-content">
                               <h4></h4>
							<h6>Withdrawal of Conset</h6>
                            
                        </div>
		<p>
		Jurisdictional laws may allow you to restrict the sharing of your personal information in certain instances. However, many of these laws also state that you cannot restrict other types of sharing. Because we have chosen to refrain from certain types of data sharing, the only type of sharing of your personal information that you may restrict is as follows:
		</p>
		
		
		
		
    <div class="article-content">
                               

                          <br>    

                                <ul class="about">
             
	            <li>If, after giving us your permission to share your personal information with third parties, with whom we market our jointly offered products, you later decide that you no longer want us to share such information, you may CONTACT US by email or by mail</li>
	         <li>You may also opt-out from promotional emails to you by accessing your E-mail Preferences & selecting the "Unsubscribe" function present in each email we send out.</li>
	        

                                </ul>


						   </div>
		
		
		
		
		
		<div class="faq-content">
                               <h4>ACCESS TO YOUR PERSONAL INFORMATION AND RETENTION</h4>
					
                            
                        </div>
		<p>
		We will honor any statutory right you may have to access, modify or erase your personal information. Where you have a statutory right you to access, modify or erase your personal information, we can still withhold that access or decline to modify or erase your personal information in some cases and in accordance with applicable national laws, but will give you reasons if we do so.
		</p>
		
		<p>
		You can access, modify or update or delete your personal information submitted on our Site by logging into your account and changing your preferences. You may also contact us using the CONTACT US details below.
		</p>
		
		<p>
		
		We will retain your information for as long as your account is active or as needed to provide you services. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.
		</p>
		
		
		
		<div class="faq-content">
                               <h4>WHERE WE STORE YOUR PERSONAL DATA</h4>
					
                            
                        </div>
		<p>
		The data that we collect from you may be transferred to, and stored at, various destination around the world. The data may also be processed by staff who work for us or for one of our suppliers in the various jurisdictions. Such staff maybe engaged in, among other things, the fulfilment of your payment order, the processing of your payment details and the provision of support services. By submitting your personal data, you agree to this transfer, storing or processing.  We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy.
		</p>
		
		
		
<div class="faq-content">
                               <h4>WHAT SECURITY MEASURES DO WE HAVE?</h4>
					
                            
                        </div>
		<p>
		We protect your information using administrative, organizational, physical and technical safeguards, including firewalls and data encryption, to reduce the risk of loss, misuse, unauthorized access, disclosure and alteration. Our security controls are designed to maintain an appropriate level of data confidentiality, integrity, and availability. We regularly test our website, data centers, systems, and other assets for security vulnerabilities for the continued protection of your personal data.
		</p>
		
		<p>
		All Appopay employees pass financial and criminal background checks as a condition of employment.
		</p>
		
		
		<div class="faq-content">
                               <h4>OTHER IMPORTANT INFORMATION</h4>
					<h6>Data Transfers to Other Countries</h6>
                            
                        </div>
		<p>
		Appopay is headquartered in the British Virgin Islands, and we have operations, entities, and service providers throughout the world. In order to provide our Services to you, it is sometimes necessary for us to transfer your personal information to, store or access it in, jurisdictions that may not provide equivalent levels of data protection as your home jurisdiction. In these cases, we ensure that both partners and ourselves take adequate and appropriate technical, physical, organizational and contractual security measures in place to protect your data. 
		</p>
		
		<p>
		If you are located in the European Economic Area, we provide adequate protection for the transfer of Personal Information to countries outside of the EEA through a series of inter-company agreements based on the Standard Contractual Clauses authorized under the EU Data Protection Directive 95/46/EC.
		</p>
		
		<div class="faq-content">
                            <h4></h4>
							<h6>Profiling and Automated Decision Making </h6>
                            
                        </div>
						
						<p>
We may use some instances of your data in order customize our Services and the information we provide to you, and to address your needs - such as your country of address and transaction history. For example, if you frequently send funds from one particular currency to another, we may use the information to inform you of new product updates or features that may be useful for you. When we do this, we take all necessary measures to ensure that your privacy and security are protected - and we only use pseudonymised data wherever possible. This activity has no legal effect on you.
</p>      
	<p>
As part of being a highly technical and innovative company, we may use Automated Decision Making (ADM) in order to improve your experience, or to help fight financial crime. For example, so that we can provide you with a fast and efficient service, we may use ADM to verify your identity documents, or to confirm the accuracy of the information you have provided to us. None of our ADM processes has a legal effect on you.
</p>      

		<div class="faq-content">
                            <h4></h4>
							<h6>Data Retention </h6>
                            
                        </div>
						
						<p>
As a regulated financial institution, Coop Red Global Ltd. is required by law to store some of your personal and transactional data beyond the closure of your account with us. Your data is only accessed internally on a need to know basis, and it will only be accessed or processed if absolutely, necessary.
</p>      
	<p>
We will always delete data that is no longer required by a relevant law or jurisdiction in which we operate.
</p> 

<p>
Retention periods defined for the storage of your data can be found by <a style="color:#00a5e2" href="#">clicking here.</a>
</p>

<div class="faq-content">
                            <h4></h4>
							<h6>Your Rights </h6>
                            
                        </div>
						
						
						
						<p>
You have the right to ask us not to contact you for marketing purposes by contacting us at  <a href="#" style="color:#00a5e2">appopay.com ,</a> or by adjusting your notification preferences in the “Settings” section of your account page.
</p>      
	<p>
You have the right to correct any personal information we have on you that is inaccurate, incorrect, or out of date.

</p> 

<p>
You have the right to ask us to delete your data when it is no longer necessary, or no longer subject to a legal obligation to which Appopay is subject to.
</p>
	<p>
You have the right to transfer your personal data between data controllers, for example, to move your account details from one online platform to another.
</p>	
<p>

Our Services may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility for them. Please check these policies before you submit any personal data to these websites.
</p>				
     
	 
	 
	 
	 <div class="faq-content">
                            <h4></h4>
							<h6>Access to Information</h6>
                            
                        </div>
						
						
						
						<p>
Subject to applicable laws, you may have the right to access information we hold about you. Your right of access can be exercised in accordance with the relevant data protection legislation.
</p>     



 <div class="faq-content">
                            <h4></h4>
							<h6>Changes to Our Privacy Policy</h6>
                            
                        </div>
						
						
						
						<p>
Any changes we may make to our privacy policy will be posted on this page and, where appropriate, notified to you by e-mail. Please check back frequently to see any updates or changes to our privacy policy.
 </p>     





 <div class="faq-content">
                            <h4></h4>
							<h6>Children’s Privacy </h6>
                            
                        </div>
						
						
						
						<p>
Appopay does not offer services to minors and does not knowingly collect Personal Information from children under the age of 13. If you believe we have collected information from your child in error or have questions or concerns about our practices relating to children, please notify us using the CONTACT US details below and we will promptly respond.
 </p>      
 
 
 
  <div class="faq-content">
                            <h4>CONTACT US</h4>
					
                            
                        </div>
						
						
		<p>
If you have questions or concerns regarding this Privacy Notice, or would like to update information; we have about you or your preferences, please contact us by email at support@appopay.com or by one of the following additional methods:
</p>

<p>
In the United States by calling us at +1-302-265-1175 or by writing to us at:</p>

<p>Attn: Data Privacy Officer</p>
<p>Coop Red Global Ltd.</p>
<p>913 N. Market Street</p>
<p>Suite 200</p>
<p>Wilmington Delaware  19801</p>


<p>In Latin America and the Caribbean Area by calling us at +44 (0)20 3176 2637 or by writing to us at:</p>

<p>Attn: The Compliance Director</p>
<p>Latin technology Appopay</p>
<p>Transistmeca Alado pharmacia metro</p>
<p>Panama , Panama</p>
<p>Republic of Panama</p>

		
						
						
						
						
						
						
					   </div>
					   
					   
					   
                    </div>


                </div>
				
             
            </div>
        </section>
    
        

<!-- Start Footer Area -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo.png" alt="logo"></a>
                       <!-- <p>Quis ipsum suspendisse ultrices gravida commodo. Risus commodo veliliee vel viverra maecenas accumsan lacus vel facilisis.</p>-->
                    </div>
                    
                    <ul class="social-links" style="text-align:center;">
                        <li><a href="https://www.facebook.com/appopayapp/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/appopayapp" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
				<div class="single-footer-widget">
                    <div class="logo roww">
					<span><h6  style="margin-left:70px;">{{ 'portal.home57' | translate }}</h6> </span>
                
				     <div class="columnn">
      <a href="https://www.serverscan.com/seal/window.php?domain=www.serverscan.com">
				   <img   style="max-width:150%;margin-left:20px;" src="assets/img/security.png" alt="logo">
				   </a>
  </div>
  <div class="columnn">
     <a href="https://www.serverscan.com/seal/window.php?domain=www.serverscan.com">
				   <img   style="max-width:150%;margin-left:60px;" src="assets/img/pci.png" alt="logo">
				   </a>
  </div>
				   
                       <!-- <p>Quis ipsum suspendisse ultrices gravida commodo. Risus commodo veliliee vel viverra maecenas accumsan lacus vel facilisis.</p>-->
                    </div>
                    
              
                </div>

            </div>
			

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget pl-5">
                    <h3>{{ 'portal.home40' | translate }}</h3>
                    
                    <ul class="list">
                        <li><a routerLink="/aboutus">{{ 'portal.home41' | translate }}</a></li>
                        <li><a href="#">{{ 'portal.home42' | translate }}</a></li>
                        <li><a href="#">{{ 'portal.home43' | translate }}</a></li>
                        <li><a href="#">{{ 'portal.home44' | translate }}</a></li>
                        <li><a href="#">{{ 'portal.home45' | translate }}</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget">
                    <h3>{{ 'portal.home46' | translate }}</h3>
                    
                    <ul class="list">
                        <li><a href="#">{{ 'portal.home47' | translate }}</a></li>
                        <li><a routerLink="/privacynotice">{{ 'portal.home48' | translate }}</a></li>
                        <li><a routerLink="/termsofuse">{{ 'portal.home49' | translate }}</a></li>
                        <li><a href="#">{{ 'portal.home50' | translate }}</a></li>
                        <li><a href="#">{{ 'portal.home51' | translate }}</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-footer-widget">
                    <h3>{{ 'portal.home52' | translate }}</h3>
                    
                      <ul class="footer-contact-info">
                        <li>{{ 'portal.home53' | translate }}</li>
                        <li><a href="#"> {{ 'portal.home54' | translate }}</a></li>
                        <li><a href="#">{{ 'portal.home55' | translate }}</a></li>
                      
                    </ul>
                </div>
            </div>
        </div>
 
        <div class="copyright-area">
  
        <a href="#">{{ 'portal.home56' | translate }}</a>
        </div>
    </div>
    
    <div class="map-image"><img src="assets/img/map.png" alt="map"></div>
</footer>
<!-- End Footer Area -->