<section class="login-section">
    <div class="container-fluid">
        <div class="form-row">
            <div class="col-12">
                <div class="login-wrapper">
                    <div class="login-box">
                        <div class="login-box-inner">
                            <h1 class="text-center">
                                <img id="logo" src="assets/img/logo.png" alt="">
                                Welcome to Coopplus
                            </h1>
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username">
                                    <!-- <small class="text-danger"> Field is required.</small> -->
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password">
                                    <!-- <small class="text-danger"> Field is required.</small> -->
                                </div>
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col-6">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signedIn">
                                                <label class="custom-control-label" for="signedIn">Keep me signed
                                                    in</label>
                                            </div>
                                        </div>
                                        <div class="col-6 text-right">
                                            <a href="javascript:void(0)">Forgot Password?</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block" type="submit">Sign
                                        In</button>
                                </div>
                                <p>Don't have an account? <a href="javascript:void(0)"  routerLink="/signup"><u>Sign up here!</u></a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>