<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Privacy Policy
                    </a>
                </li>
                <li>
                    <a href="#">
                        Terms of Use
                    </a>
                </li> 
            </ul>
        </nav>
        <div class="copyright pull-right">
            Copyright &copy; {{test | date: 'yyyy'}} QRT 
        </div>
    </div>
</footer>
